* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #8e73c2, #5875b7 );
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
     margin: 0 150px;
    
}

.container {
    max-width: 260px;
     background: #978fcb;
     border-radius: 3px;
     flex: 1;

     display: block;
     text-align: center;
    margin: 20px;
}

h2 {
    font-size: 30px;
    padding: 40px;
    color: white;
    text-shadow: 2px 2px #6a608d;
}

.description {
    font-size: 20px;
    padding: 0 15px 30px 15px;
}

p:not(:last-child){
    line-height: 38px;
    font-size: 20px;
    border-bottom: 1px #9284c0 groove;
}

.price {
    font-weight: bold;
    font-size: 40px;
    padding: 25px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    background: yellow;

   
    /* padding: 15px 40px;
    border-radius: 5px; */
    /* margin: auto; */
}